body {
  background-color: #333;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-item-card {
  display: inline-block;
  text-align: center;
  margin-top: 5em;
  margin-left: 5em;
  vertical-align: middle;
  margin: 10px 0;
}

.alertToast {
  width: 500px;
  margin: auto;
  text-align: center;
}

.subButton {
}

.toastAlert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.toastAlert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.toastAlert-exit {
  opacity: 1;
}
.toastAlert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
